@import "./base.css";

/************************************************************
** 请将全局样式拷贝到项目的全局 CSS 文件或者当前页面的顶部 **
** 否则页面将无法正常显示                                  **
************************************************************/

/************************************************************
** 请将全局样式拷贝到项目的全局 CSS 文件或者当前页面的顶部 **
** 否则页面将无法正常显示                                  **
************************************************************/

/************************************************************
** 请将全局样式拷贝到项目的全局 CSS 文件或者当前页面的顶部 **
** 否则页面将无法正常显示                                  **
************************************************************/
/************************************************************
** 请将全局样式拷贝到项目的全局 CSS 文件或者当前页面的顶部 **
** 否则页面将无法正常显示                                  **
************************************************************/

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', 'Microsoft Yahei', sans-serif;
}

body * {
  box-sizing: border-box;
  flex-shrink: 0;
}

/* #app {
  width: 100vw;
  height: 100vh;
} */

.cf-flex-row {
  display: flex;
  flex-direction: row;
}

.cf-flex-col {
  display: flex;
  flex-direction: column;
}

.cf-justify-start {
  justify-content: flex-start;
}

.cf-justify-end {
  justify-content: flex-end;
}

.cf-justify-center {
  justify-content: center;
}

.cf-justify-between {
  justify-content: space-between;
}

.cf-justify-around {
  justify-content: space-around;
}

.cf-justify-evenly {
  justify-content: space-evenly;
}

.cf-items-start {
  align-items: flex-start;
}

.cf-items-end {
  align-items: flex-end;
}

.cf-items-center {
  align-items: center;
}

.cf-items-baseline {
  align-items: baseline;
}

.cf-items-stretch {
  align-items: stretch;
}

.cf-self-start {
  align-self: flex-start;
}

.cf-self-end {
  align-self: flex-end;
}

.cf-self-center {
  align-self: center;
}

.cf-self-baseline {
  align-self: baseline;
}

.cf-self-stretch {
  align-self: stretch;
}

.cf-flex-1 {
  flex: 1 1 0%;
}

.cf-flex-auto {
  flex: 1 1 auto;
}

.cf-grow {
  flex-grow: 1;
}

.cf-grow-0 {
  flex-grow: 0;
}

.cf-shrink {
  flex-shrink: 1;
}

.cf-shrink-0 {
  flex-shrink: 0;
}

.cf-relative {
  position: relative;
}

/* 重置nuxt */
a {
  color: inherit; /* 继承父元素文本颜色 */
  text-decoration: none; /* 清除下划线 */
}

label {
  cursor: pointer;
}
